---
import { getCollection } from 'astro:content';
import AppBar from '~/components/AppBar.astro';
import SearchBar from '~/components/SearchBar.astro';
import Layout from '~/layouts/Layout.astro';

const recipes = await getCollection('recipes');
---

<Layout>
  <AppBar />
	<SearchBar />
	
	<h1>All Recipes</h1>
    <ul>
      {recipes.map((recipe) => (
        <li>
          <a href={`/recipes/${recipe.id}`}>
            {recipe.data.title ?? recipe.id}
          </a>
        </li>
      ))}
    </ul>

</Layout>
