---
import { getCollection, getEntry, render } from 'astro:content'

import Header from '~/components/Header.astro'
import SearchBar from '~/components/SearchBar.astro'
import Layout from '~/layouts/Layout.astro'
import Recipe from '~/components/Recipe.astro'

export async function getStaticPaths() {
  const recipes = await getCollection('recipes')

  const pages = recipes.map((recipe) => {
    return {
      params: { slug: recipe.id }, // Define the dynamic slug here
      props: {
        slug: recipe.id,
        title: recipe.data.title ?? recipe.id,
        text: recipe.body,
        tags: recipe.data.tags ?? [],
      },
    }
  })

  return pages
}

const { title, tags, text, slug } = Astro.props

const entry = await getEntry('recipes', slug)
if (!entry) {
  // Handle Error, for example:
  throw new Error('Could not find blog post')
}
const { Content, headings } = await render(entry)
---

<Layout title={title}>
  <Header />
  <SearchBar />

  <Recipe>
    <h1>{title}</h1>
    <Content />
  </Recipe>
</Layout>

<style>
  article {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
  }

  h1 h2 h3 {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
  }

  p {
    line-height: 1.6;
    margin-bottom: 1rem;
  }
</style>
