---
import SearchBar from '~/components/SearchBar.astro';
import Layout from '../layouts/Layout.astro';
import AppBar from '~/components/AppBar.astro';

import { getCollection } from 'astro:content';
const posts = await getCollection('recipes');
---

<Layout>
  <AppBar />
	<SearchBar />

	<ul>
		{posts.map(post => (
		<li><a href={`/recipes/${post.id}`}>{post.data}</a></li>
		))}
	</ul>

</Layout>
