---
import SearchBar from '~/components/SearchBar.astro';
import Layout from '../layouts/Layout.astro';
import Header from '~/components/Header.astro';

import { getCollection } from 'astro:content';
const recipes = await getCollection('recipes');
---

<Layout>
  <Header />
	<SearchBar />

	<ul>
		{recipes.map(recipe => (
		<li><a href={`/recipes/${recipe.id}`}>{recipe.id}</a></li>
		))}
	</ul>

</Layout>
