---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

import { getCollection } from 'astro:content';
const posts = await getCollection('recipes');
---

<h1>Recipes</h1>


<Layout>
	<Welcome />

	<ul>
		{posts.map(post => (
		  <li><a href={`/${post.id}`}>{post.data.title}</a></li>
		))}
	  </ul>
</Layout>
