---
import SearchBar from '~/components/SearchBar.astro'
import Layout from '../layouts/Layout.astro'
import Header from '~/components/Header.astro'

import { getCollection } from 'astro:content'
const recipes = (await getCollection('recipes')).sort((a, b) => a.data.title.localeCompare(b.data.title))
const title = 'Recipes - Brandon Kunkel'
const description =
  'My personal collection of recipes, organized by tags and categories. Updated regularly with new dishes and culinary experiments.'
---

<Layout title={title} description={description}>
  <Header />
  <SearchBar />

  <main>
    <div class="recipes-list">
      {
        recipes.map((recipe) => (
          <a href={`/recipes/${recipe.id}`} class="recipe-link">
            {recipe.data.title}
          </a>
        ))
      }
    </div>
  </main>
</Layout>
