---
import { Image } from 'astro:assets'
import logo from 'src/assets/logo.png'
---

<header>
  <a href="/recipes/">
    <Image src={logo} alt="Logo" class="logo" />
  </a>
  <nav>
    <ul>
      <li><a href="/recipes/">Home</a></li>
    </ul>
    <ul>
      <li><a href="/recipes/">Recipes</a></li>
    </ul>
    <ul>
      <li><a href="/recipes/tags/">Tags</a></li>
    </ul>
  </nav>
</header>

<style>
  header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.5rem;
    background-color: white;
    color: black;
  }

  .logo {
    width: 150px;
    height: 100%;
  }

  nav ul {
    display: flex;
    list-style: none;
  }

  nav ul li {
    margin-right: 1rem;
  }

  a {
    color: black;
    text-decoration: none;
  }
</style>
